/* Общие стили */
body {
    font-family: Arial, sans-serif;
}

/* Стили для баннера */
#banner {
    background-image: url('https://i.pinimg.com/originals/77/64/0c/77640cef0e985fe6101588091628582e.gif');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.banner-content {
    padding: 20px;
}

.banner-content h1 {
    font-size: 36px;
}

.banner-content p {
    font-size: 20px;
}

/* Стили для секций */
section {
    margin-bottom: 50px;
}

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
}

/* Стили для кнопки доната */
#donate button {
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #f8f9fa;
}

footer p {
    font-size: 14px;
    color: #6c757d;
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .navbar-nav.ml-auto li {
        margin-bottom: 10px;
    }
}
